<div data-role="page" id="team-xxx" data-title="<%= @team.label %>" class="main-page" data-dom-cache="true" data-theme="a"
     <%= "data-prev=\"#{teams_path(:uri => 'brasilien', filter_uri: params[:filter_uri])}\"".html_safe %>
     <%= "data-next=\"#{teams_path(:uri => 'brasilien', filter_uri: params[:filter_uri])}\"".html_safe %>>

  <%#= render 'filter' Gruppe, Kontinent%>

  <div role="main" class="ui-content" id="main">

    <div class="big center"><%= @team.label %>
      <%= image_tag(img_url(@team), height: 20) %>
    </div>

    <%= ui_list @players, header: 'Kader' do |player| %>
        <%= ui_list_link_to player.label, players_path(:uri => player.uri) %>
    <% end %>

    <%= ui_list [@trainer], header: 'Trainer' do |i| %>
        <% if @team.has_variables? ['coach_uri'] %>
            <%= ui_list_link_to @team.coach, trainers_path(:uri => @team.coach_uri) %>
        <% else %>
            <%= ui_list_link_to "no link", "" %>
        <% end %>
    <% end %>


  </div>
</div>