<div data-role="page" id="team-xxx" data-title="team-xxx" class="main-page" data-dom-cache="true" data-theme="a"
     <%= "data-prev=\"#{teams_path(:uri => 'brasilien', filter_uri: params[:filter_uri])}\"".html_safe %>
     <%= "data-next=\"#{teams_path(:uri => 'brasilien', filter_uri: params[:filter_uri])}\"".html_safe %>>

  <%#= render 'filter' Gruppe, Kontinent%>

  <div role="main" class="ui-content" id="main">

    <div class="big center">Brasilien
      <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Flag_of_Brazil.svg/20px-Flag_of_Brazil.svg.png" alt="Brasilien" height="20"/>
    </div>

    <% player = ['Jefferson',
                 'César, Júlio ',
                 'Victor',
                 'Alves, Dani',
                 'Silva, Thiago (C)',
                 'Luiz, David',
                 'Marcelo',
                 'Dante',
                 'Maxwell',
                 'Henrique',
                 'Maicon',
                 'Fernandinho',
                 'Paulinho',
                 'Oscar',
                 'Ramires',
                 'Gustavo, Luiz',
                 'Hernanes',
                 'Willian',
                 'Hulk',
                 'Fred',
                 'Neymar',
                 'Bernard',
                 'Jô']
    %>

    <%= ui_list player, header: 'Kader' do |i| %>
        <%= ui_list_link_to i, players_path(:uri => i.to_s.parameterize) %>
    <% end %>

    <%= ui_list ['Felipe Scolari'], header: 'Kader' do |i| %>
        <%= ui_list_link_to i, trainers_path(:uri => i.to_s.parameterize) %>
    <% end %>


  </div>
</div>