<div data-role="page" id="<%= get_name(@team).parameterize %>" data-title="<%= @team.label %>" class="main-page" data-dom-cache="true" data-theme="a" data-prev="<%= request.referer && URI(request.referer).path.start_with?('/matches') ? "#{URI(request.referer).path}?#{URI(request.referer).query}" : 'back' %>">

  <%#= render 'filter' Gruppe, Kontinent%>

  <div role="main" class="ui-content" id="main">

    <div class="center"><span class="big"><%= @team.label %></span>
      <%= image_tag(img_url(@team), height: 40) %>
    </div>

    <% player_infos = {} %>
    <% @players.each do |player| %>
        <% player_infos[player.uri.to_s] = get_player(player.uri) %>
        <% player_infos[player.uri.to_s] ||= {position: 'n.A.'} %>
    <% end %>
    <%= ui_list sort_players!(@players, player_infos), header: 'Kader' do |player| %>
        <% if player.uri.to_s.include?('http://cs.hs-rm.de/~mdudd001/semanticwc/') %>
            <%= ui_list_link_to "#{player.label} (#{player_infos[player.uri.to_s][:position].to_s.titlecase})", 'javascript:void(0);', class: 'disabled' %>
        <% else %>
            <%= ui_list_link_to "#{player.label} (#{player_infos[player.uri.to_s][:position].to_s.titlecase})", players_path(:uri => player.uri) %>
        <% end %>
    <% end %>

    <% if @team.has_variables? ['coach_uri'] %>
        <%= ui_list [@team.coach_uri], header: 'Trainer' do |i| %>
            <%= ui_list_link_to @team.coach, trainers_path(:uri => i) %>
        <% end %>
    <% end %>


  </div>
</div>