<div data-role="page" id="team-xxx" data-title="<%= @team.label %>" class="main-page" data-dom-cache="true" data-theme="a"
     <%= "data-prev=\"#{teams_path(:uri => 'brasilien', filter_uri: params[:filter_uri])}\"".html_safe %>
     <%= "data-next=\"#{teams_path(:uri => 'brasilien', filter_uri: params[:filter_uri])}\"".html_safe %>>

  <%#= render 'filter' Gruppe, Kontinent%>

  <div role="main" class="ui-content" id="main">

    <div class="big center"><%= @team.label %>
      <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Flag_of_Brazil.svg/20px-Flag_of_Brazil.svg.png" alt="Brasilien" height="20"/>
    </div>

    <%= ui_list @players, header: 'Kader' do |i| %>
        <% player_uri = get_player_uri(i.to_s, @team.uri) %>
        <% if player_uri %>
            <%= ui_list_link_to i, players_path(:uri => player_uri) %>
        <% else %>
            <%= ui_list_link_to "no link", "" %>
        <% end %>
    <% end %>

    <%= ui_list [@trainer], header: 'Trainer' do |i| %>
        <% trainer_uri = get_trainer_uri(i.to_s, @team.uri) %>
        <% if trainer_uri %>
            <%= ui_list_link_to i, trainers_path(:uri => trainer_uri) %>
        <% else %>
            <%= ui_list_link_to "no link", "" %>
        <% end %>
    <% end %>


  </div>
</div>