<div data-role="page" id="<%= get_name(@player).to_s.parameterize %>" data-title="<%= get_name(@player) %>" class="main-page" data-dom-cache="true" data-theme="a">

  <%#= render 'filter' Sturm%>

  <div role="main" class="ui-content" id="main">
    <% infos = [] %>
    <% infos << "Position: #{@player.position}" if @player.has_variables? [:position] %>
    <% infos << "Alter: #{distance_of_time_in_words_hash(Time.now, Date.parse(@player.birth_date.to_s))[:years]} Jahre (*#{Date.parse(@player.birth_date.to_s).to_formatted_s(:rfc822) })" if @player.has_variables? [:birth_date] %>
    <% infos << "Größe: #{@player.height}" if @player.has_variables? [:height] %>
    <% infos << "Gewicht: #{@player.weight}" if @player.has_variables? [:weight] %>
    <% infos << "Verein: #{@player.current_club}" if @player.has_variables? [:current_club] %>

    <%= ui_list infos, header: get_name(@player) do |i| %>
        <%= i %>
    <% end %>
    <div class="center">
      <%= image_tag img_url(@player), width: img_width %>
    </div>
    <% if @player.has_variables? [:abstract] %>
        <div class="abstract center">
          <%= @player.abstract %>
        </div>
    <% end %>
    <%= ui_list ["Länderspiele: #{@player.caps}", "Tore: #{@player.goals}"], header: @player.team do |i| %>
        <%= i %>
    <% end %>
    <%= ui_list ['FC Barcelona: 06/2011 - heute', 'Fluminese Rio der Janeiro: 04/2010 - 06/2011'], header: 'Vereine' do |i| %>
        <%= i %>
    <% end %>


  </div>

</div>