<div data-role="page" id="<%= "#{@match.time.to_s}-#{@match.homeCompetitor}-#{@match.awayCompetitor}".parameterize %>" data-title="
  <% @match.uri %>" class="main-page matches" data-dom-cache="true" data-theme="a"
     <%= "data-prev=\"#{matches_path(:uri => @matches[@current_index-1].uri, filter_uri: params[:filter_uri])}\"".html_safe if @current_index > 0 %>
     <%= "data-next=\"#{matches_path(:uri => @matches[@current_index+1].uri, filter_uri: params[:filter_uri])}\"".html_safe if @matches.count >= @current_index+2 %>>

  <% cache 'matches_filter' do %>
      <%= render 'filter' %>
  <% end %>

  <div role="main" class="ui-content" id="main">

    <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all">
      <li data-role="list-divider" data-theme="a" data-swatch="a" data-form="ui-bar-a" role="heading">
        <div class="big center"><%= @match.round %> - <%= Time.parse(@match.time.to_s).to_s(:short) %> Uhr</div>
      </li>
      <li data-form="ui-body-a" data-swatch="a" data-theme="a">
        <div class="big center">

          <%= link_to(image_tag(img_url(@home), width: 60, onerror: "this.src='#{lorem_img}';"), teams_path(:uri => @match.homeCompetitor_uri), class: ['img', 'team-name', 'right']) %>
          <div class="ultra-big team-spacer"><%= get_result(@match) %></div>
          <%= link_to(image_tag(img_url(@away), width: 60, onerror: "this.src='#{lorem_img}';"), teams_path(:uri => @match.awayCompetitor_uri), class: ['img', 'team-name', 'left']) %>
          <br/>

          <span class="team-name right"><%= @match.homeCompetitor %></span>
          <span class="team-spacer"> -</span>
          <span class="team-name left"><%= @match.awayCompetitor %></span>
        </div>
        <%= ui_list get_goal_infos(@goals, @match), header: '' do |i| %>
            <%= i %>
        <% end %>

      </li>
      <% if @stadium %>
          <li>
            <a class="ui-btn-a ui-btn ui-btn-icon-right ui-icon-carat-r" data-form="ui-btn-up-a" data-swatch="a" data-theme="a" href="<%= stadiums_path(:uri => @stadium.uri) %>">
              <%= @stadium.name %>
              (<%= @stadium.city %>)</a>
          </li>
      <% end %>
    </ul>
    <div class="footer">
      <div class="left">
        <div><%= get_filter_name(@filter_type, @filter_value) %></div>
        <span class="filter-links">
          <div class="filter-teams">
            <%= get_teams.compact.sort { |a, b| get_name(a) <=> get_name(b) }.map { |team| link_to(get_name(team), URI.encode(team.uri.to_s)) }.join('<br/>').html_safe %>
          </div>
          <div class="filter-rounds">
            <%= get_rounds.compact.sort { |a, b| a.uri.to_s <=> b.uri.to_s }.map { |group| link_to(get_name(group), URI.encode(group.uri.to_s)) }.join('<br/>').html_safe %>
          </div>
          <div class="filter-stadiums">
            <%= get_stadiums.compact.sort { |a, b| get_name(a) <=> get_name(b) }.map { |stadium| link_to(get_name(stadium), URI.encode(stadium.uri.to_s)) }.join('<br/>').html_safe %>
          </div>
          <div class="filter-days">
            <%= get_days.compact.sort.map { |day| link_to(day.to_s(:short), day.to_s) }.join('<br/>').html_safe %>
          </div>
        </span>
      </div>
      <div class="right">
        <span class="navi-links">
          <%= link_to image_tag('/assets/images/icons-png/arrow-l-black.png'), matches_path(:uri => @matches[@current_index-1].uri, filter_uri: params[:filter_uri]) if @current_index > 0 %>
        </span>
        <%= @current_index+1 %>/<%= @matches.count %>
        <span class="navi-links">
          <%= link_to image_tag('/assets/images/icons-png/arrow-r-black.png'), matches_path(:uri => @matches[@current_index+1].uri, filter_uri: params[:filter_uri]) if @matches.count >= @current_index+2 %>
        </span>
      </div>
    </div>
    <%= render 'js_after_loaded' %>
  </div>

</div>