<div data-role="page" id="<%= @matchday.homeCompetitor %>_<%= @matchday.awayCompetitor %><%= @current_index %>" data-title="
  <% @matchday.uri %>" class="main-page" data-dom-cache="true" data-theme="a"
     <%= "data-prev=\"#{matches_path(:uri => @matchdays[@current_index-1].uri, filter_uri: params[:filter_uri])}\"".html_safe if @current_index > 0 %>
     <%= "data-next=\"#{matches_path(:uri => @matchdays[@current_index+1].uri, filter_uri: params[:filter_uri])}\"".html_safe if @matchdays.count >= @current_index+2 %>>

  <%= render 'filter' %>

  <div role="main" class="ui-content" id="main">

    <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all">
      <li data-role="list-divider" data-theme="a" data-swatch="a" data-form="ui-bar-a" role="heading">
        <div class="big center"><%= Time.parse(@matchday.time.to_s).to_s(:db) %> Uhr</div>
      </li>
      <li data-form="ui-body-a" data-swatch="a" data-theme="a">
        <div class="big center">

          <%= link_to(image_tag(img_url(@home), height: 40), teams_path(:uri => @home.uri), class: [:img], 'data-prefetch'.to_sym => true) %>
          -:-

          <%= link_to(image_tag(img_url(@away), height: 40), teams_path(:uri => @away.uri), class: [:img], 'data-prefetch'.to_sym => true) %>
          <br/>

          <%= @matchday.homeCompetitor %>
          - <%= @matchday.awayCompetitor %>

        </div>

      </li>
      <li>
        <a class="ui-btn-a ui-btn ui-btn-icon-right ui-icon-carat-r" data-form="ui-btn-up-a" data-swatch="a" data-theme="a" data-prefetch="true"
           href="<%= stadiums_path(:uri => @stadium.uri) %>">
          <%= @stadium.name %>
          (<%= @stadium.city %>)</a></li>
    </ul>
    <%= render 'js_after_loaded' %>
  </div>

</div>