<div data-role="page" id="<%= get_name(@stadium).parameterize %>" data-title="<%= @stadium.name %>" class="main-page" data-dom-cache="true" data-theme="a" data-prev="<%= request.referer && URI(request.referer).path.start_with?('/matches')? "#{URI(request.referer).path}?#{URI(request.referer).query}" : matches_path %>">>

  <%#= render 'filter' %>

  <div role="main" class="ui-content" id="main">
    <div class="center">
      <%= image_tag(img_url(@stadium), width: img_width) %>
    </div>
    <%= ui_list ["Kapazität: #{capacity(@stadium)}", @stadium.city], header: @stadium.name do |i| %>
        <%= i %>
    <% end %>
    <div class="center">
      <div id="map" class="map"></div>
      <%= javascript_tag do %>
          handler = Gmaps.build('Google');
          handler.buildMap({ provider: { maxZoom: 14, zoom: 8 }, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers([
          {
          "lat": <%= @stadium.lat %>,
          "lng": <%= @stadium.long %>,
          "picture": {
          "url":
          "<%= image_url 'pin.png' %>",
          "width": 24,
          "height": 40
          }
          }
          ]);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          });
      <% end %>
    </div>
    <%= ui_list @matches.map { |match| [match_name(match), match.uri] }, header: "Spiele (#{@matches.count})" do |i| %>
        <%= ui_list_link_to i[0], matches_path(:uri => i[1], :filter_uri => @stadium.uri) %>
    <% end %>


  </div>

</div>