<div data-role="page" id="<%= get_name(@trainer).parameterize %>" data-title="<%= get_name(@trainer) %>" class="main-page" data-dom-cache="true" data-theme="a" data-prev="<%= request.referer && URI(request.referer).path.start_with?('/teams') ? "#{URI(request.referer).path}?#{URI(request.referer).query}" : (@trainer.has_variables?(['team_uri']) ? teams_path(:uri => @trainer.team_uri) : matches_path) %>">

  <%#= render 'filter' Sturm%>

  <div role="main" class="ui-content" id="main">
    <% infos = [] %>
    <% infos << "Alter: #{distance_of_time_in_words_hash(Time.now, Date.parse(@trainer.birth_date.to_s))[:years]} Jahre (*#{Date.parse(@trainer.birth_date.to_s).to_formatted_s(:rfc822) })" if @trainer.has_variables? [:birth_date] %>

    <%= ui_list infos, header: get_name(@trainer) do |i| %>
        <%= i %>
    <% end %>
    <div class="center">
      <%= image_tag img_url(@trainer), width: img_width %>
    </div>
    <% if @trainer.has_variables? [:abstract] %>
        <div class="abstract center">
          <%= @trainer.abstract %>
        </div>
    <% end %>
    <%= ui_list ['Länderspiele: 55', 'Siege: 30', 'Unentschieden: 20', 'Niederlagen: 5'], header: 'Nationalmannschaft' do |i| %>
        <%= i %>
    <% end %>
    <%= ui_list ['VfB Stuttgart: 07/1996 - 09/2002'], header: 'Trainerstationen' do |i| %>
        <%= i %>
    <% end %>


  </div>

</div>